# patches, diffs, merges
*.patch
interdiff.txt
*.orig
*.bak

# releases
*.zip

# PHPStorm, PHPUnit
.idea/*
.phpunit.result.cache

# but not the *.latest.json files
/tests/Integration/Magento/Data/*.latest.json
