<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true"
         columns="max"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="/var/www/html/vendor/siel/acumulus-ma2/tests/acumulus-bootstrap.php"
         stderr="true"
>
    <testsuites>
        <testsuite name="all">
            <directory>Magento</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>Magento/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>Magento/Integration</directory>
        </testsuite>
    </testsuites>
    <!-- PHP INI settings and constants definition -->
    <php>
        <includePath>.</includePath>
        <includePath>testsuite</includePath>
        <ini name="date.timezone" value="Europe/Amsterdam"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
        <!-- Local XML configuration file ('.dist' extension will be added, if the specified file doesn't exist) -->
        <const name="TESTS_INSTALL_CONFIG_FILE" value="etc/install-config-mysql.php"/>
        <!-- Local XML post installation configuration file ('.dist' extension will be added, if the specified file doesn't exist) -->
        <const name="TESTS_POST_INSTALL_SETUP_COMMAND_CONFIG_FILE" value="etc/post-install-setup-command-config.php"/>
        <!-- Local XML configuration file ('.dist' extension will be added, if the specified file doesn't exist) -->
        <const name="TESTS_GLOBAL_CONFIG_FILE" value="etc/config-global.php"/>
        <!-- Semicolon-separated 'glob' patterns, that match global XML configuration files -->
        <const name="TESTS_GLOBAL_CONFIG_DIR" value="/var/www/html/app/etc"/>
        <!-- Whether to clean up the application before running tests or not -->
        <const name="TESTS_CLEANUP" value="disabled"/>
        <!-- Memory usage and estimated leaks thresholds -->
        <!--<const name="TESTS_MEM_USAGE_LIMIT" value="1024M"/>-->
        <const name="TESTS_MEM_LEAK_LIMIT" value=""/>
        <!-- Whether to output all CLI commands executed by the bootstrap and tests -->
        <const name="TESTS_EXTRA_VERBOSE_LOG" value=""/>
        <!-- Magento mode for tests execution. Possible values are "default", "developer" and "production". -->
        <const name="TESTS_MAGENTO_MODE" value="developer"/>
        <!-- Minimum error log level to listen for. Possible values: -1 ignore all errors, and level constants form http://tools.ietf.org/html/rfc5424 standard -->
        <const name="TESTS_ERROR_LOG_LISTENER_LEVEL" value="-1"/>
        <const name="USE_OVERRIDE_CONFIG" value="enabled"/>
    </php>
    <!-- Test listeners -->
<!--    <listeners>-->
<!--        &lt;!&ndash; Run after AllureAdapter to allow it to initialize properly &ndash;&gt;-->
<!--        <listener class="Magento\TestFramework\Event\PhpUnit"/>-->
<!--        <listener class="Magento\TestFramework\ErrorLog\Listener"/>-->
<!--    </listeners>-->
<!--    <extensions>-->
<!--        <extension class="Qameta\Allure\PHPUnit\AllureExtension">-->
<!--            &lt;!&ndash; Optional arguments block; omit it if you want to use default values &ndash;&gt;-->
<!--            <arguments>-->
<!--                &lt;!&ndash; Path to config file (default is config/allure.config.php) &ndash;&gt;-->
<!--                <string>allure/allure.config.php</string>-->
<!--            </arguments>-->
<!--        </extension>-->
<!--    </extensions>-->
</phpunit>
