<?xml version='1.0'?>
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='../../../../../vendor/magento/framework/Event/etc/events.xsd'>
    <event name="sales_order_save_after">
        <observer name="siel_acumulus_order_save_observer" instance="Siel\AcumulusMa2\Observer\SalesOrderSaveAfter"/>
    </event>
    <event name="sales_order_invoice_save_after">
        <observer name="siel_acumulus_invoice_save_observer" instance="Siel\AcumulusMa2\Observer\SalesOrderInvoiceSaveAfter"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="siel_acumulus_creditmemo_save_observer" instance="Siel\AcumulusMa2\Observer\SalesOrderCreditmemoSaveAfter"/>
    </event>
</config>
