<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Siel_Acumulus::acumulus_settings" title="Acumulus Settings" module="Siel_AcumulusMa2" sortOrder="900"
             parent="Magento_Backend::other_settings" action="acumulus/settings" resource="Siel_Acumulus::config"/>
        <add id="Siel_Acumulus::acumulus_mappings" title="Acumulus Mappings" module="Siel_AcumulusMa2" sortOrder="905"
             parent="Magento_Backend::other_settings" action="acumulus/mappings" resource="Siel_Acumulus::config"/>
        <add id="Siel_Acumulus::acumulus_batch" title="Acumulus Batch verzending" module="Siel_AcumulusMa2" sortOrder="910"
             parent="Magento_Backend::other_settings" action="acumulus/batch" resource="Siel_Acumulus::batch"/>
        <add id="Siel_Acumulus::acumulus_activate" title="Acumulus Activeer pro-support" module="Siel_AcumulusMa2" sortOrder="915"
             parent="Magento_Backend::other_settings" action="acumulus/activate" resource="Siel_Acumulus::batch"/>
        <add id="Siel_Acumulus::acumulus_register" title="Acumulus registreer een nieuw (proef)account" module="Siel_AcumulusMa2" sortOrder="920"
             parent="Magento_Backend::other_settings" action="acumulus/register" resource="Siel_Acumulus::batch"/>
    </menu>
</config>
